.footer{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.footerHead{
    width:82%;
    display:flex;
    padding:1rem 3rem;
    justify-content: space-between;
   
}
.footertop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.footerimghead{
    width:3rem;
    height:3rem;
    background-image: url("img/logo.jpg");
    background-size: contain;
    border-radius: 50%;
}
.footerfoot{
    width:84%;
    border-top: 2px solid  #e5e7eb;;
    text-align: center;
}

.footright{
    display:grid;
    column-gap: 4rem;
    grid-template-columns: repeat(4,1fr);
    padding:0rem 1.5rem;
    padding-bottom: 5rem;
}
.footleft{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;

}
.footericonlinks{
    display:flex;
    gap:2rem;
}
.footericonlinks i{
    padding:0;
}


.gridobj ul{
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    font-size: 0.9rem;
}

.gridobj {
    display:flex;
    flex-direction: column;
    gap:2rem;
}

.footer i{
color:#777;
}


.footer ul a{
    color:#777;
    }
.footer ul a:hover{
        color:blue;
    }

.footermiddle{
        color:#777;
 }

 .footcopyright{
    color:#808080;
    font-size: 0.75rem;
 }
 .gridobj h3{
    color:#333333;
 }

 @media screen and (max-width:1000px){
    .footerHead{
      flex-direction: column;
       gap:4rem;
    }

    .footleft{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:2rem;
    
    }
    
 }

 @media screen and (max-width:760px){
    .footright{
      grid-template-columns: repeat(2,1fr);
      gap:2rem;
      text-align: center;
    }
 }